@model IEnumerable<Product>
<h2>Welcome to Troy's Store'</h2>

@foreach (Product p in Model)
{
    <a asp-action="Buy" asp-controller="Storefront" asp-route-iD="@p.Id"> Buy  </a>
    <li>@p.Id</li>
    <li>@p.Name</li>
    <li>@p.Price</li>
    <li>@p.Quantity</li>
    <li>@p.Description</li>
    <br />

}
<a asp-action="Index" asp-controller="Product" > Employees Only  </a>
